.light-mode {
  --color-crust: #dce0e8;
  --color-mantle: #e6e9ef;
  --color-base: #eff1f5;

  --color-surface0: #ccd0da;
  --color-surface1: #bcc0cc;
  --color-surface2: #acb0be;

  --color-overlay0: #9ca0b0;
  --color-overlay1: #8c8fa1;
  --color-overlay2: #7c7f93;

  --color-subtext0: #6c6f85;
  --color-subtext1: #5c5f77;
  --color-text: #4c4f69;

  --color-lavender: #7287fd;
  --color-blue: #1e66f5;
  --color-sapphire: #209fb5;
  --color-sky: #04a5e5;
  --color-teal: #179299;
  --color-green: #40a02b;
  --color-yellow: #df8e1d;
  --color-peach: #fe640b;
  --color-maroon: #e64553;
  --color-red: #d20f39;
  --color-mauve: #8839ef;
  --color-pink: #ea76cb;
  --color-flamingo: #dd7878;
  --color-rosewater: #dc8a78;
}


.dark-mode {
  --color-crust: #11111b;
  --color-mantle: #181825;
  --color-base: #1e1e2e;

  --color-surface0: #313244;
  --color-surface1: #45475a;
  --color-surface2: #585b70;

  --color-overlay0: #6c7086;
  --color-overlay1: #7f849c;
  --color-overlay2: #9399b2;

  --color-subtext0: #a6adc8;
  --color-subtext1: #bac2de;
  --color-text: #cdd6f4;

  --color-lavender: #b4befe;
  --color-blue: #89b4fa;
  --color-sapphire: #74c7ec;
  --color-sky: #89dceb;
  --color-teal: #94e2d5;
  --color-green: #a6e3a1;
  --color-yellow: #f9e2af;
  --color-peach: #fab387;
  --color-maroon: #eba0ac;
  --color-red: #f38ba8;
  --color-mauve: #cba6f7;
  --color-pink: #f5c2e7;
  --color-flamingo: #f2cdcd;
  --color-rosewater: #f5e0dc;
}


// Catppuccin palette
// https://github.com/catppuccin/catppuccin
