/* roboto */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto.woff2") format("woff2");
}

/* jetbrains-mono-regular */
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/jetbrains-mono-regular.woff2") format("woff2");
}

/* lobster-regular */
@font-face {
  font-family: Lobster;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lobster-regular.woff2") format("woff2");
}
